
.apidata{
  display: flex;
  /* justify-content: space-between; */
  background-color: antiquewhite;
}
.menu {
  margin-top: 38px;
  margin-left: 120px;
}

.main-sl{
  display: flex;
  justify-content: space-around;
   flex-wrap: wrap;

}

.slider{
  width: 44%;
}
.slider img{
  width: 100%;
  max-height: 333px;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(150, 255, 220);
  margin: 11px;
  padding: 11px;
  width: 77%;
  margin: auto;
}





